@import "tailwindcss";

:root {
  --background: #d5c6ab;
  --foreground: #0B0B0B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0B0B;
    --foreground: #d5c6ab;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


[data-cursor="none"],
[data-cursor="none"] * {
  cursor: auto !important;
}

.cursor-text-layer {
  pointer-events: none;
  z-index: 20;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  -webkit-mask-image: radial-gradient(
    circle var(--cr, 0px) at var(--cx, -9999px) var(--cy, -9999px),
    black 100%,
    transparent 100%
  );
  mask-image: radial-gradient(
    circle var(--cr, 0px) at var(--cx, -9999px) var(--cy, -9999px),
    black 100%,
    transparent 100%
  );
}